Repository comixed/comixed, pull requests merged in 2019-12, with the labels that each got.

#80 Fix compilation issues in windows wsl and some cleanups
  comixed-app/pom.xml
  comixed-app/src/main/assembly/src.xml
  comixed-frontend/pom.xml
  comixed-importer/pom.xml
  comixed-library/pom.xml
  comixed-rest-api/pom.xml
  comixed-services/pom.xml
  comixed-tasks/pom.xml
Labels: build

#86 [Issue #87] Removed library filtering.
  comixed-frontend/src/app/library/actions/filters.actions.ts
  comixed-frontend/src/app/library/adaptors/filter.adaptor.spec.ts
  comixed-frontend/src/app/library/adaptors/filter.adaptor.ts
  comixed-frontend/src/app/library/components/comic-list-toolbar/comic-list-toolbar.component.html
  comixed-frontend/src/app/library/components/comic-list-toolbar/comic-list-toolbar.component.ts
  comixed-frontend/src/app/library/components/comic-list/comic-list.component.html
  comixed-frontend/src/app/library/components/comic-list/comic-list.component.spec.ts
  comixed-frontend/src/app/library/components/library-filter/library-filter.component.html
  comixed-frontend/src/app/library/components/library-filter/library-filter.component.scss
  comixed-frontend/src/app/library/components/library-filter/library-filter.component.spec.ts
  comixed-frontend/src/app/library/components/library-filter/library-filter.component.ts
  comixed-frontend/src/app/library/index.ts
  comixed-frontend/src/app/library/library.module.ts
  comixed-frontend/src/app/library/pages/collection-details-page/collection-details-page.component.spec.ts
  comixed-frontend/src/app/library/pages/library-page/library-page.component.spec.ts
  comixed-frontend/src/app/library/pages/missing-comics-page/missing-comics-page.component.spec.ts
  comixed-frontend/src/app/library/pages/reading-list-page/reading-list-page.component.spec.ts
  comixed-frontend/src/app/library/pipes/comic-filter.pipe.spec.ts
  comixed-frontend/src/app/library/pipes/comic-filter.pipe.ts
  comixed-frontend/src/app/library/reducers/filters.reducer.spec.ts
  comixed-frontend/src/app/library/reducers/filters.reducer.ts
Labels: library

#91 Minor Dockerfile and descriptions updates
  docker/DOCKER.md
  docker/Dockerfile
  docker/README.md
Labels: docker

#92 Fix display of blocked duplicate pages.
  comixed-app/src/main/java/org/comixed/ComiXedConfiguration.java
  comixed-frontend/src/app/comics/components/comic-cover/comic-cover.component.html
  comixed-frontend/src/app/comics/components/comic-cover/comic-cover.component.scss
  comixed-frontend/src/app/comics/components/comic-cover/comic-cover.component.ts
  comixed-frontend/src/app/library/components/duplicate-page-grid-item/duplicate-page-grid-item.component.html
  comixed-frontend/src/app/library/components/duplicate-page-list-item/duplicate-page-list-item.component.html
  comixed-frontend/src/app/library/components/duplicate-page-list-item/duplicate-page-list-item.component.spec.ts
  comixed-frontend/src/assets/i18n/library-en.json
  comixed-library/src/main/java/org/comixed/repositories/library/BlockedPageHashRepository.java
  comixed-library/src/test/java/org/comixed/repositories/library/BlockedPageHashRepositoryTest.java
  comixed-library/src/test/java/org/comixed/repositories/library/ComicRepositoryTest.java
  comixed-library/src/test/java/org/comixed/repositories/library/PageRepositoryTest.java
  comixed-library/src/test/resources/test-comics.xml
  comixed-rest-api/src/main/java/org/comixed/controller/file/FileController.java
  comixed-rest-api/src/main/java/org/comixed/controller/library/ComicController.java
  comixed-rest-api/src/main/java/org/comixed/controller/library/PageController.java
  comixed-rest-api/src/main/java/org/comixed/controller/library/ReadingListController.java
  comixed-rest-api/src/main/java/org/comixed/controller/scraping/ComicVineScraperController.java
  comixed-rest-api/src/main/java/org/comixed/controller/user/UserController.java
  comixed-rest-api/src/main/java/org/comixed/net/SetBlockingStateRequest.java
  comixed-rest-api/src/test/java/org/comixed/controller/library/PageControllerTest.java
  comixed-services/src/main/java/org/comixed/service/library/PageService.java
  comixed-services/src/test/java/org/comixed/service/library/PageServiceTest.java
Labels: bug, critical, library

#93 CB7 archive adaptor tests use target directory.
  comixed-library/src/test/java/org/comixed/adaptors/archive/RarArchiveAdaptorTest.java
  comixed-library/src/test/java/org/comixed/adaptors/archive/SevenZipArchiveAdaptorTest.java
Labels: bug, build

#94 [Issue #72] Fixed group matcher recursivity problem
  comixed-services/src/main/java/org/comixed/service/library/ReadingListService.java
Labels: bug, importing

#90 Cache image files outside of the comic archive
  comixed-app/src/main/resources/application.properties
  comixed-importer/src/main/java/org/comixed/importer/adaptors/ComicFileImportAdaptor.java
  comixed-importer/src/main/java/org/comixed/importer/adaptors/ComicRackBackupAdaptor.java
  comixed-library/src/main/java/org/comixed/adaptors/archive/AbstractArchiveAdaptor.java
  comixed-library/src/main/java/org/comixed/adaptors/archive/SevenZipArchiveAdaptor.java
  comixed-library/src/main/java/org/comixed/handlers/ComicFileHandler.java
  comixed-library/src/main/java/org/comixed/model/library/Page.java
  comixed-library/src/main/resources/db/migrations/0.5.0/007_issue-27_pad_page_hash_values.xml
  comixed-library/src/main/resources/db/migrations/0.5.0/changelog-0.5.0.xml
  comixed-rest-api/src/main/java/org/comixed/controller/library/ComicController.java
  comixed-rest-api/src/main/java/org/comixed/controller/library/PageController.java
  comixed-rest-api/src/test/java/org/comixed/controller/library/ComicControllerTest.java
  comixed-rest-api/src/test/java/org/comixed/controller/library/PageControllerTest.java
  comixed-services/src/main/java/org/comixed/ComiXedTestContext.java
  comixed-services/src/main/java/org/comixed/service/file/FileService.java
  comixed-services/src/main/java/org/comixed/service/library/ComicService.java
  comixed-services/src/main/java/org/comixed/service/library/PageCacheService.java
  comixed-services/src/main/java/org/comixed/service/library/ReadingListService.java
  comixed-services/src/main/java/org/comixed/service/user/UserService.java
  comixed-services/src/test/java/org/comixed/service/library/PageCacheServiceTest.java
  comixed-services/src/test/resources/application.properties
  comixed-services/src/test/resources/image-cache/D5397C1B/6053B093/CB133CA3/B7081C9E
  comixed-tasks/src/main/java/org/comixed/task/model/AddComicWorkerTask.java
  comixed-tasks/src/main/java/org/comixed/task/runner/Worker.java
Labels: enhancement, library

#96 [Issue #95] Replace ${HOME} with ${user.home} for the cache directory.
  comixed-app/src/main/resources/application.properties
Labels: bug, configuration, critical

#97 [Issue #81] Updated versions to 0.5.0-PRERELEASE.
  comixed-frontend/package.json
  comixed-importer/pom.xml
Labels: build

#102 Feature/issue 100
  comixed-frontend/package.json
  comixed-frontend/src/app/app.component.spec.ts
  comixed-frontend/src/app/app.component.ts
  comixed-frontend/src/app/app.module.ts
  comixed-frontend/src/app/comic-import/components/comic-file-grid-item/comic-file-grid-item.component.spec.ts
  comixed-frontend/src/app/comic-import/components/comic-file-list-item/comic-file-list-item.component.spec.ts
  comixed-frontend/src/app/comic-import/components/comic-file-list-toolbar/comic-file-list-toolbar.component.spec.ts
  comixed-frontend/src/app/comic-import/components/comic-file-list/comic-file-list.component.spec.ts
  comixed-frontend/src/app/comic-import/pages/import-page/import-page.component.spec.ts
  comixed-frontend/src/app/comic-import/services/comic-import.service.spec.ts
  comixed-frontend/src/app/components/main-menu/main-menu.component.spec.ts
  comixed-frontend/src/app/components/main-menu/main-menu.component.ts
  comixed-frontend/src/app/library/adaptors/collection.adaptor.spec.ts
  comixed-frontend/src/app/library/adaptors/collection.adaptor.ts
  comixed-frontend/src/app/library/adaptors/duplicate-pages.adaptor.spec.ts
  comixed-frontend/src/app/library/adaptors/duplicate-pages.adaptor.ts
  comixed-frontend/src/app/library/adaptors/library-display.adaptor.spec.ts
  comixed-frontend/src/app/library/adaptors/library-display.adaptor.ts
  comixed-frontend/src/app/library/adaptors/library.adaptor.spec.ts
  comixed-frontend/src/app/library/adaptors/library.adaptor.ts
  comixed-frontend/src/app/library/adaptors/reading-list.adaptor.spec.ts
  comixed-frontend/src/app/library/adaptors/reading-list.adaptor.ts
  comixed-frontend/src/app/library/adaptors/selection.adaptor.spec.ts
  comixed-frontend/src/app/library/adaptors/selection.adaptor.ts
  comixed-frontend/src/app/library/components/comic-list-toolbar/comic-list-toolbar.component.spec.ts
  comixed-frontend/src/app/library/components/comic-list/comic-list.component.spec.ts
  comixed-frontend/src/app/library/components/duplicate-page-grid-item/duplicate-page-grid-item.component.spec.ts
  comixed-frontend/src/app/library/components/duplicate-page-list-item/duplicate-page-list-item.component.spec.ts
  comixed-frontend/src/app/library/components/duplicates-page-toolbar/duplicates-page-toolbar.component.spec.ts
  comixed-frontend/src/app/library/effects/collection.effects.spec.ts
  comixed-frontend/src/app/library/effects/collection.effects.ts
  comixed-frontend/src/app/library/effects/duplicate-pages.effects.spec.ts
  comixed-frontend/src/app/library/effects/duplicate-pages.effects.ts
  comixed-frontend/src/app/library/effects/library.effects.spec.ts
  comixed-frontend/src/app/library/effects/library.effects.ts
  comixed-frontend/src/app/library/effects/reading-list.effects.spec.ts
  comixed-frontend/src/app/library/effects/reading-list.effects.ts
  comixed-frontend/src/app/library/library.module.ts
  comixed-frontend/src/app/library/pages/collection-details-page/collection-details-page.component.spec.ts
  comixed-frontend/src/app/library/pages/collection-page/collection-page.component.spec.ts
  comixed-frontend/src/app/library/pages/duplicates-page/duplicates-page.component.spec.ts
  comixed-frontend/src/app/library/pages/library-page/library-page.component.spec.ts
  comixed-frontend/src/app/library/pages/missing-comics-page/missing-comics-page.component.spec.ts
  comixed-frontend/src/app/library/pages/reading-list-page/reading-list-page.component.spec.ts
  comixed-frontend/src/app/library/pages/reading-lists-page/reading-lists-page.component.spec.ts
  comixed-frontend/src/app/library/services/collection.service.spec.ts
  comixed-frontend/src/app/library/services/collection.service.ts
  comixed-frontend/src/app/library/services/duplicate-pages.service.spec.ts
  comixed-frontend/src/app/library/services/duplicate-pages.service.ts
  comixed-frontend/src/app/library/services/library.service.spec.ts
  comixed-frontend/src/app/library/services/library.service.ts
  comixed-frontend/src/app/library/services/reading-list.service.spec.ts
  comixed-frontend/src/app/library/services/reading-list.service.ts
  comixed-frontend/src/app/pages/admin/library-admin-page/library-admin-page.component.spec.ts
  comixed-frontend/src/app/pages/main-page/main-page.component.spec.ts
  comixed-frontend/src/assets/i18n/app-en.json
  comixed-frontend/src/assets/i18n/common-en.json
  comixed-frontend/yarn.lock
Labels: enhancement, library, user interface
